.fav-btn{
  border: none;
  background-color: white;
  width: 40px;
  height: 40px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 10px;
  padding: 5px;
  transition: 0.2s;
}
.fav-btn:hover{
  background: #fff6c8;
}
.fav-btn--active:hover{
  background: #ffd5d5;
}
.fav-btn__svg{
  width: 100%;
  height: 100%;
}
.fav-btn__text{
  display: none;
}
@media(min-width: 576px) {
  .fav-btn{
    width: auto;
    height: auto;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 0;
    background-color: #efefef;
  }
  .fav-btn:hover{
    background-color: rgba(255, 188, 7, 0.7);
  }
  .fav-btn--active:hover{
    background-color: rgba(245, 57, 74, 0.71);
  }
  .fav-btn__svg{
    display: none;
  }
  .fav-btn__text{
    display: block;
  }
}