.header{
  background: linear-gradient(to bottom, #0090eb, #6ad3fd);
}
.header h1{
  color: white;
}
.header__wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__wrapper-lower{
  display: flex;
  justify-content: space-around;
  min-width: 300px;
  margin: 10px 0;
}
.header__btn{
  border: none;
  text-decoration: none;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  background: white;
  color: inherit;
  width: 120px;
}
.header__btn:hover{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
.header__btn--home:hover, .header__btn--homepage:hover{
  background-color: #ecf6f6;
}
.header__btn--favorites:hover{
  background-color: #fff3d3;
}
.header__btn--home:active, .header__btn--homepage:active{
  background-color: #e0eaea;
}
.header__btn--favorites:active{
  background-color: #ffe893;
}
.header__btn--homepage{
  margin-bottom: 10px;
  font-size: 14px;
}
.header__btn-text{
  font-size: 14px;
}
.header__icon{
  width: 20px;
  height: 20px;
}
.header__search-wrapper{
  min-width: 300px;
  position: relative;
}
.header__search-field{
  padding-right: 50px;
}
.header__search-field:focus{
  box-shadow: none;
  border-color: #5b5bb4;
}
.header__search-btn{
  position: absolute;
  top: 1px;
  right: 16px;
  height: calc(100% - 2px);
  width: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border: none;
  background: white;
  padding: 0;
  transition: 0.2s;
}
.header__search-btn:hover{
  background-color: #e7e7ff;
}
.header__search-btn:active{
  background-color: #dad8f5;
}
.header__search-btn:active .header__search-icon{
  width: 23px;
  height: 23px;
}
.header__search-text{
  display: none;
}
@media (min-width: 576px) {
  .header{
    padding-bottom: 15px;
  }
  .header h1{
    margin-bottom: 15px;
  }
  .header__wrapper{
    flex-direction: row;
    align-items: stretch;
  }
  .header__wrapper-lower{
    padding: 0;
    margin: 0;
    min-width: unset;
  }
  .header__btn{
    padding: 5px;
    border-radius: 5px;
    width: 80px;
  }
  .header__btn--homepage{
    margin-bottom: 0;
  }
  .header__btn-text{
    margin: 0;
  }
  .header__icon{
    display: none;
  }
  .header__search-field{
    padding-right: 100px;
  }
  .header__search-text{
    display: inline;
    font-size: 14px;
  }
  .header__search-icon{
    display: none;
  }
  .header__search-btn{
    position: absolute;
    width: auto;
    padding: 0 10px;
  }
}

@media (min-width: 768px) {
  .header__btn-text{
    font-size: 16px;
  }
  .header__btn, .header__search-btn{
    width: 100px;
  }
}

@media (min-width: 992px) {
  .header__btn, .header__search-btn{
    width: 130px;
    justify-content: space-between;
    padding: 0 15px;
  }
  .header__btn--homepage{
    padding: 10px;
  }
  .header__icon{
    display: block;
  }
}